.dropdown-container{
    text-align: left;
    position: 'relative';
    border-radius: 5px;
    width: 400px;
    padding: 5px;
    overflow: hidden;
    font-family: "Trebuchet MS";
    font-weight: bold;
}

.dropdown-selected{
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #3B7197;
    background-color: #E9EEF2;
    overflow-y: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.dropdown-selected::-webkit-scrollbar{
    display: none;
}

.menu-toggle-icon{
    position: absolute;
    right: 5px;
}

.search-bar{
    width: 98%;
    margin-top: 5px;
    border: 2px solid #3B7197;
    border-radius: 5px;
    height: 20px;
}

.dropdown-menu{
    background-color: #E9EEF2;
    margin-top: 5px;
    overflow-y: auto;
    text-align: left;
    max-height: 150px;
    border-radius: 5px;
    border: 2px solid #3B7197;
    padding: 5px;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.dropdown-menu::-webkit-scrollbar{
    display: none;
}

.dropdown-item{
    width: '100%';
    padding: 5px;
    margin-top: 3px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 100ms ease-in-out 0s, color 100ms ease-in-out 0s;
}

.dropdown-item:hover {
    background-color: #3B7197;
    color: white;
}

.dropdown-item.selected{
    background-color: #3B7197;
    color: white;
}

.dropdown-item.selected:hover{
    color: white;
}

.dropdown-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    width: 100%;
}

.dropdown-tag-item{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #3B7197; 
    color: white;
    border-radius: 2px;
    width: fit-content;
    cursor: pointer;
}

.dropdown-tag-close{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}